@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: #c49d9d;
}

.container {
  width: 100%;
  padding: 0 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  /* margin: 10px; */
  position: relative;
  height: 80vh;
  flex: 1;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.slide h3 {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  opacity: 0;
  transition: opacity .6s ease-in;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
}